<div class="container-fluid d-flex justify-content-center flex-column align-items-center row pt-5">
    <div class="col-sm-10 col-md-9 col-lg-6 d-flex justify-content-center flex-column align-items-center shadow p-3 mt-5 rounded">
        <p class="text-center text-danger fs-6 lh-sm" *ngIf="{errorMsg}">{{ errorMsg }}</p>
        <form action="#" class="w-100" #loginForm="ngForm">
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="identifiant" id="identifiant"
                    placeholder="Votre identifiant" [(ngModel)]="userMatricule">
                <label for="identifiant">Votre identifiant</label>
            </div>
            <div class="d-flex justify-content-center flex-column align-items-center pb-3 fs-4"><i *ngIf="(waiting)"
                    class="fa-solid fa-gear fa-spin"></i></div>
            <div class="form-floating mb-3">
                <input class="form-control" type="password" name="password" id="password"
                    placeholder="votre mot de passe" [(ngModel)]="userPassWord">
                <label for="password">Votre mot de passe</label>
            </div>
            <button type="submit" class="btn btn-lg btn-outline-primary w-100" (click)="connectIsValid()">Connexion</button>
        </form>
    </div>
</div>