<div class="container-fluid">
    <div id="sideBar" class="container d-flex flex-column">
        <div class="cardPerso card p-3 shadow mb-3 ">
            <h5 class="card-title">Sous-Menu</h5>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link"
                        routerLink="/heures/declarer">Déclarer</a></li>
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link"
                        routerLink="/heures/consulter">En cours.
                        <span *ngIf="interupteurPastille" class="pastille">{{ totalCompteurNotValidated }} </span>
                        <br>
                        <span class="textPetit fst-italic">(Consulter, valider, supprimer)</span></a></li>
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link"
                        routerLink="/heures/cloturer">Clôturer la semaine.</a></li>
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link"
                        routerLink="/heures/archives">Archives</a></li>
            </ul>
        </div>
        <div class="cardPerso card p-3 shadow cardPerso">
            <h5 class="card-title"> ... </h5>
            <hr>
        </div>
    </div>
</div>

