<div class="container-fluid">
    <div id="sideBar" class="container d-flex flex-column">
        <div class="cardPerso card p-3 shadow mb-3 ">
            <h5 class="card-title">Sous-Menu</h5>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link"
                    routerLink="/service/consulter">Consulter</a></li>
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link"
                        routerLink="/service/valider">Valider</a></li>
            </ul>
        </div>
    </div>
</div>