<div class="container-fluid">
    <div class="row">
        <div class="col-12-sm col-md-6 col-lg-4 mb-3" *ngFor="let user of users" [ngClass]="{ 'd-none': filter && !user.present}">
            <div class="card shadow">
                <div class="card-title p-3 bg-success text-white rounded-top" [ngClass]="{ 'bg-danger': !user.present}"
                    (click)="commuteModify(user)">
                    <p *ngIf="(idToModify != user.id)" class="h5">{{ user.prenom}} {{ user.nom}} </p>
                    <div *ngIf="(idToModify === user.id)" class="container-fluid">
                        <input class="form-control mb-2 bg-transparent text-white" [(ngModel)]="firstNameToModify">
                        <input class="form-control bg-transparent text-white" [(ngModel)]="nameToModify">
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p>Matricule : {{ user.matricule }}</p>
                        <p *ngIf="(idToModify != user.id)">Responsable : <br>{{
                            findUserByMatricule(user.responsable) }}</p>
                        <div *ngIf="(idToModify === user.id)" class="bg-warning rounded p-1 mb-2">
                            <label>Matricule du responsable :</label>
                            <input class="form-control bg-transparent mb-2" [(ngModel)]="respToModify">
                        </div>
                        <p *ngIf="(idToModify != user.id)">Niveau de droits : {{ user.type }}</p>
                        <div *ngIf="(idToModify === user.id)" class="bg-warning rounded p-1">
                            <label>Niveau de droits :</label>
                            <input class="form-control bg-transparent mb-2" [(ngModel)]="droitsToModify">
                            <p class="petitText">1 = salarié(e) ; 2 = responsable ; 3 RH et direction</p>
                        </div>
                        <p>Présent : {{user.present ? 'Oui' : 'Non'}}
                            <button class="btn"
                                (click)="handleOnChangePresent(user.matricule, (user.present == true ? 0 : 1))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-arrow-repeat" viewBox="0 0 16 16" style="vertical-align: top;">
                                    <path
                                        d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                    <path fill-rule="evenodd"
                                        d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                                </svg>
                            </button>
                        </p>
                        <div class="d-flex justify-content-around">
                            <button *ngIf="(idToModify === user.id)" class="btn btn-success"
                                (click)="handleOnModify(user)">Modifier</button>
                            <button *ngIf="(idToModify === user.id)" class="btn btn-success"
                                (click)="cancelModification()">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>