<header class="navbar navbar-expand-md nb px-3 mb-1">
    <span *ngIf="user" class="navbar-brand text-white">{{ user.prenom }} {{ user.nom }}</span>
    <button type="button" class="navbar-toggler ms-auto" data-bs-toggle="collapse" data-bs-target="#navContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" routerLinkActive="activeBtn"><a class="nav-link text-white" routerLink="/accueil">Accueil</a></li>
            <li class="nav-item" routerLinkActive="activeBtn"><a class="nav-link text-white" routerLink="/heures/consulter">Mes heures</a></li>
            <li *ngIf="(user.type >= 2)" class="nav-item" routerLinkActive="activeBtn"><a class="nav-link text-white" routerLink="/service/consulter">Mon service</a></li>
            <li *ngIf="(user.type == 3)" class="nav-item" routerLinkActive="activeBtn"><a class="nav-link text-white" routerLink="/users/liste">Supervision</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link text-white" routerLink="/"
                    (click)="handleOnLoout()">Déconnexion</a>
            </li>
        </ul>
    </nav>

</header>