<header class="navbar navbar-expand-md navbar-dark bg-dark px-3 mb-1">
    <span *ngIf="user" class="navbar-brand">{{ user.prenom }} {{ user.nom }}</span>
    <button type="button" class="navbar-toggler ms-auto" data-bs-toggle="collapse" data-bs-target="#navContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/accueil">Accueil</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/heures">Mes heures</a></li>
            <li *ngIf="(user.type >= 2)" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/service">Mon service</a></li>
<!--             <li *ngIf="(user.type == 3)" ngClass="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/entreprise">Toutes les heures</a></li> -->
            <li *ngIf="(user.type == 3)" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/users/liste">Utilisateurs</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/"
                    (click)="handleOnLoout()">Déconnexion</a>
            </li>
        </ul>
    </nav>

</header>