<div ngClass="container-fluid">
    <div ngClass="container d-flex w-100 flex-column mb-3">
        <p ngClass="h2 text-center">Gestion des utilisateurs</p>
    </div>
    <div ngClass="row">
        <div ngClass="col-2 container-fluid d-flex flex-column">
            <div ngClass="card p-3 shadow mb-3">
                <h3 ngClass="card-title">Filtres</h3>
                <hr>
            </div>
            <div ngClass="card p-3 shadow">
                <h3 ngClass="card-title">Stats</h3>
                <hr>
            </div>
        </div>

        <div ngClass="col-10">
           <app-user-list></app-user-list>
        </div>
    </div>
</div>