<div class="container-fluid">
    <div class="row">
        <div class="col-12-sm col-md-6 col-lg-4 mb-3" *ngFor="let arbitrage of mesArbitrages">
            <div class="card p-0 shadow mb-3">
                <h5 class="card-title p-3 bg-success text-white rounded-top d-flex justify-content-between">
                    {{ arbitrage["prenom"] }} {{ arbitrage["nom"] }}
                </h5>
                <div class="card-body">
                    <div class="card-text">
                        blabla
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Heures supp. :</th>
                            <td>{{heureDecimaleEnStr(arbitrage['heuresSupMajoree'])}}</td>
                        </tr>
                        <tr>
                            <th>Récupération :</th>
                            <td>{{heureDecimaleEnStr(arbitrage['recuperation'])}}</td>
                        </tr>
                        <tr>
                            <th>Solidarité</th>
                            <td>{{heureDecimaleEnStr(arbitrage['solidarite'])}}</td>
                        </tr>
                        <tr>
                            <th>A payer</th>
                            <td>{{heureDecimaleEnStr(arbitrage['heureAPayer'])}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        </div>
        
    </div>
</div>