<div ngClass="container-fluid">
    <div id="sideBar" ngClass="container d-flex flex-column">
        <div ngClass="cardPerso card p-3 shadow mb-3 ">
            <h5 ngClass="card-title">Sous-Menu</h5>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link" routerLink="/users/liste">Liste des salariés</a></li>
                <li class="list-group-item" routerLinkActive="active"><a class="nav-link" routerLink="/users/ajout">Ajouter un salarié</a></li>
                <li class="list-group-item bg-secondary-subtle" routerLinkActive="active"><a class="nav-link" routerLink="/users/#">Changer un responsable</a></li>
            </ul>
        </div>
        <div ngClass="cardPerso card p-3 shadow cardPerso mb-3">
            <h5 ngClass="card-title">Actions</h5>
            <ul class="list-group">
                <li class="list-group-item bg-secondary-subtle" routerLinkActive="active"><a class="nav-link" routerLink="/users/#">Changer de semaine</a></li>
                <li class="list-group-item bg-secondary-subtle" routerLinkActive="active"><a class="nav-link" routerLink="/users/#">Réinitialiser la J.S.</a></li>
            </ul>
            <hr>
        </div>
        <div ngClass="cardPerso card p-3 shadow cardPerso mb-3">
            <h5 ngClass="card-title">Suivre</h5>
            <ul class="list-group">
                <li class="list-group-item bg-secondary-subtle" routerLinkActive="active"><a class="nav-link" routerLink="/users/#">Heure à payer</a></li>
                <li class="list-group-item bg-secondary-subtle" routerLinkActive="active"><a class="nav-link" routerLink="/users/#">Les compteurs</a></li>
                <li class="list-group-item bg-secondary-subtle" routerLinkActive="active"><a class="nav-link" routerLink="/users/#">Reste à valider</a></li>
            </ul>
            <hr>
        </div>
    </div>
</div>