<div ngClass="container-fluid">
    <div id="sideBar" ngClass="container d-flex flex-column">
        <div ngClass="cardPerso card p-3 shadow mb-3 ">
            <h5 ngClass="card-title">Sous-Menu</h5>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">Ajouter un salarié</li>
                <li class="list-group-item">Réinitialiser la J.S.</li>
                <li class="list-group-item">Vois les compteurs</li>
            </ul>
        </div>
        <div ngClass="cardPerso card p-3 shadow cardPerso">
            <h5 ngClass="card-title">Infos diverses</h5>
            <hr>
        </div>
    </div>
</div>