<div class="container-fluid">
     <div class="row">
        <p class="h4 text-danger" *ngIf="errorMsg">{{errorMsg}}</p>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" name="nameSearching" id="nameSearching"
                placeholder="Rechercher ..." (input)="handleOnSearch($event)">
            <label for="nameSearching" class="p-3">Rechercher (sur le prénom et le nom) ...</label>
        </div>
       <label for="searchByResp"><input name="searchByResp" id="searchByResp" type="checkbox" [(ngModel)]="isSearchingByResp"> Chercher parmis les responsables</label> 
       <div class="row">
            <div class="mb-2 col-6">Il y a {{ countEmployees() }} salarié(e)s présents.</div>
            <button class="btn btn-primary mb-3 col-6" (click)="handelOnFilter()">{{ titreBtnFiltre }}</button>
        </div>
        
        <div class="col-12 row" *ngIf="filteredList.length > 0">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let user of filteredList">
                <app-user-card2 [allUsers]="userListRaw" [user]="user" (presenceUpdated)="fetchUsers()" (userUpdated)="fetchUsers()"></app-user-card2>
            </div>
           <!--  <app-user-card [users]="filteredList" [allUsers]="userListRaw" [filter]="filtreAbsent" (presenceUpdated)="fetchUsers()" (userUpdated)="fetchUsers()"></app-user-card> -->
        </div>
    </div>
</div>