<div class="container-fluid row mt-5">
    <div class="col-8 offset-2">
        <h1>Accueil</h1>
        <div *ngIf=(user)>
            <p>Bonjour {{user.prenom}},</p>
            <p class="fs-5">Voici vos soldes validés</p>
            <table class="table table-striped w-50">
                <tbody>
                    <tr>
                        <th>Heures supplémentaires :</th>
                        <td>{{heures_supplementaires}}</td>
                    </tr>
                    <tr>
                        <th>Récupération :</th>
                        <td>{{recuperation}}</td>
                    </tr>
                    <tr>
                        <th>Solidarité</th>
                        <td>{{solidarite}}</td>
                    </tr>
                    <tr>
                        <th>A payer</th>
                        <td>{{aPayer}}</td>
                    </tr>
                </tbody>
            </table>
            <p>date de début : {{ date_debut }}</p>
            <p>date de début : {{ date_fin }}</p>
            <input type="date" [min]="date_debut.toISOString().split('T')[0]" [max]="date_fin.toISOString().split('T')[0]">
        </div>
    </div>


</div>